div.css-ocqkz7.e1tzin5v4 {
    border: 1px solid rgba(100, 100, 100, .5);
    padding: 2% 2% 2% 2%;
    border-radius: 10px;
}
.last_name {
    font-weight: 700;
    font-size: calc(1.4rem + 1.8vw);
    line-height: 1.1;
  }

.first_name {
    font-size: calc(1rem + 1vw);
    line-height: 1.4;
  }

.column_left {
    float: left;
    width: 25%;
  }

.column_right {
    float: left;
    width: 50%;
    text-align: right;
  }

.row_num {
    font-weight: 1000;
    font-size: calc(1.5rem);
    line-height: 2;
}

.row_lab {
    opacity: 50%;
    line-height: 1;
}